{%extends 'algapp/base.html'%}

{%block content%}
<div class="rectangle3add"></div><h1 class="h1cadd">Please, type your full name, e-mail and choose the allergens from list below<br>to get the ability of using our service </h1>
    <form class="form_add_c" method="post"> 
        {%csrf_token%}
            {{form}}
        <button type="submit"> Create Profile </button>
    </form>

    
{%endblock content%}

{% block js_files %} 
<script>
    // Attach an event listener to the search input field
    document.getElementById('id_search_query').addEventListener('input', function() {
        // Get the search query value
        var searchQuery = this.value.toLowerCase();
  
        // Get all the allergen checkboxes
        var allergenCheckboxes = document.querySelectorAll('input[name="allergens"]');
  
        // Loop through each checkbox and toggle its visibility based on the search query
        allergenCheckboxes.forEach(function(checkbox) {
            var allergenName = checkbox.parentElement.textContent.toLowerCase();
            if (allergenName.includes(searchQuery)) {
                checkbox.parentElement.style.display = 'block';  // Show the checkbox's parent element
            } else {
                checkbox.parentElement.style.display = 'none';   // Hide the checkbox's parent element
            }
        });
    });
  </script>
  
{% endblock %}






<div class="bg-image">
    <div class="menu-container">
        <div id="boxes"> 
            {% csrf_token %}
            {% for dish, allergic_m, allergic_v, ingredients_main, ingredients_var in dishes_allergens %}
                <div class="content1">
                    <p class="dish-name"><b>{{ dish.name }}:</b></p>
                </div>
                <div class="content1">
                    <p class="dish-name">
                        {% for i in ingredients_main %}
                            {% if i in allergic_m %}
                                <span class="allergen-warning">{{ i }}</span>,
                            {% else %}
                                <span>{{ i }}</span>,
                            {% endif %}
                        {% endfor %}
                        {% for i in ingredients_var %}
                            {% if forloop.last %}
                                {% if i in allergic_v %}
                                    <span class="modifiable-allergen-warning">{{ i }}.</span>
                                {% else %}
                                    <span>{{ i }}.</span>
                                {% endif %}
                            {% else %}
                                {% if i in allergic_v %}
                                    <span class="modifiable-allergen-warning">{{ i }},</span>
                                {% else %}
                                    <span>{{ i }},</span>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="content1">
                    {% if allergic_m %}
                        <div class="object" onmouseover="showPopup()" onmouseout="hidePopup()">
                            <img src="/static/algapp/images/warning_red.png" width="20px">
                            
                            <div id="popup"><b>Found allergens in base ingredients: {% for allergen in allergic_m %} {{ allergen }} {% endfor %}. 
                                It couldn't be changed or replace, we recommend you avoid this dish</b>
                            </div>
                        </div>
                    {% endif %}
                    {% if allergic_v %}
                        <div class="object" onmouseover="showPopup()" onmouseout="hidePopup()">
                            <img src="/static/algapp/images/warning_yellow.png" width="20px">
                            
                            <div id="popup"><b>Found allergens in base ingredients: {% for allergen in allergic_m %} {{ allergen }} {% endfor %}. 
                                It couldn't be changed or replace, we recommend you avoid this dish</b>
                            </div>
                        </div>      
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>