{% load widget_tweaks %}

{% for checkbox in widget %}
    <div class="checkbox">
        {{ checkbox|add_class:'allergen-checkbox' }}
        <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
    </div>
{% endfor %}

<!-- <script>
    let checkboxes = document.getElementsByClassName('allergen-checkbox');
    let checkboxesPerPage = 5;
    let currentPage = 1;
    let totalPages = Math.ceil(checkboxes.length / checkboxesPerPage);
    console.log(checkboxes.length);
    let showMoreButton = document.getElementById('show-more-button');

    function showPage(page) {
        let startIndex = (page - 1) * checkboxesPerPage;
        let endIndex = startIndex + checkboxesPerPage;

        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].parentNode.style.display = (i >= startIndex && i < endIndex) ? 'block' : 'none';
        }
    }

    showPage(currentPage);

    if (totalPages > 1) {
        showMoreButton.style.display = 'block';
        showMoreButton.addEventListener('click', function () {
            currentPage++;
            if (currentPage > totalPages) {
                currentPage = 1;
            }
            showPage(currentPage);
        });
    }
</script> -->
